.transactions-count{
    box-shadow: 0 0 2px grey;
    padding: 15px;
    border-radius: 10px;
    color: rgb(58, 57, 57);

}

.analytics h4{
    font-size: 22px;
}

.analytics h5{
    font-size: 18px;
}

.category-card{
    padding: 10px;
    box-shadow: 0 0 2px grey;
}