.filter{
    box-shadow: 0 0 3px grey;
    padding:10px 20px;
    border-radius: 15px;
    overflow-x: scroll;
}

.transaction-form label{
    color: rgba(0, 0, 0, 0.751) !important;
}

.view-switch{
 border: 1px solid rgba(0, 0, 0, 0.722);
 border-radius: 3px;
 padding: 5px 10px;
}

.anticon svg{
    font-size: 20px;
    cursor: pointer;
}

.active-icon{
    color: black;
}

.inactive-icon{
    color: grey; 
}